@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');


.screen{
    position: absolute;
    left: 40%;
    top: 6%;
    height: 90%;
    width: 320px;
    border-radius: 30px;
    background-color: #192A32 ;
    display: flex;
}
.img1{
    position: absolute;
    top: 20%;
    left: 12%;
}
.x_img{
    height: 21px;
    width: 21px;
    margin: 3px;
}
#turn{
    height: 34px;
    width: 5.9em;
    background-color: #1F3540;
    color: #A8BEC9;
    position: absolute;
    top: 19%;
    left: 38%;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    font-family: 'DM Sans'; 
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#turn_img{
    font-family: 'M PLUS Rounded 1c';
    font-size: 24px;
}
.refresh{
    height: 28px;
    width: 32px;
    position: absolute;
    top: 19.5%;
    right: 14%;
    background-color: #A7BDC8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px black;
}
.refresh:hover{
    cursor: pointer;
    background-color: #ced6da;
}
.o_img{
    height: 23px;
    width: 23px;
    margin: 3px;
}
.boxes{
    display: flex;
    height: 4.5em;
    width: 4.5em;
    margin: 10px;
    background-color: #1F3540;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play_area{
    height: 45%;
    width:88%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 26%;
    left: 6%;
}
.boxes img{
    height: 3em;
    width: 3em;
}
#overlap{
    height: 100%;
    width: 100%;    
    border-radius: 30px;
    background-color: #000000;
    opacity: 0.73;
    display: none;
}
#win_dialogbox,#quit_dialogbox{
    position: absolute;
    height: 30%;
    width: 100%;
    top: 38%;
    background-color: #192A32;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.win_img_msg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#win_img img{
    height: 28px;
    width: 28px;
    margin-right: 5px;
    margin-top: 5px;
}
.won_msg{
    font-family: 'DM Sans';
    color: #ACC2CD;
    font-size: 14px;
}
.who_win_msg,.quit_msg{
    font-family:'DM Sans' ;
    font-size: 24px;
    color: #F2B237;
}
.buttons{
    width: 100%;
    font-size: 12px;
    font-family:'DM Sans';
    display: flex;
    justify-content: space-evenly;
}
#quit_btn,#play_btn{
    height: 25px;
    width: 100px;
    font-size: 12px;
    font-family:'DM Sans';
    background-color: #F2B237; 
    border: #F2B237;
    border-radius: 10px;   
}
#quit_btn:hover,#quit_btnn:hover{
    cursor: pointer;
    background-color: #c78d21;
}
#next_btn,#quit_btnn{
    height: 25px;
    width: 100px;
    font-size: 12px;
    font-family:'DM Sans';
    background-color: #31C4BE;
    border: #ffffff;
    border-radius: 10px;
}
#next_btn:hover,#play_btn:hover{
    cursor: pointer;
    background-color: #1c9e99;
}
#quit_btnn{
    background-color: #F2B237;
}
#play_btn{
    background-color: #31C4BE;
}